NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_NAME=myapp

MAXIMUM_ACTIVE_LOANS=5
DEFAULT_LOAN_DURATION_DAYS=30
LOST_BOOK_THRESHOLD=3
DAMAGE_BOOK_THRESHOLD=10

JWT_SECRET=change-me
JWT_EXPIRES_IN=1d